<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
          <img itemprop="image" src="/assets/img/sourcelogo_black.png" alt="{{site.name}}">
          
          <meta itemprop="name" content="{{site.username}}"></meta>
          <div class="icons-home icons-author">
              <a itemprop="email" aria-label="Email" href="mailto:{{site.email}}"><svg class="icon icon-email icon-author"><use xlink:href="#icon-email"></use></svg></a>
              <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><svg class="icon icon-twitter icon-author"><use xlink:href="#icon-twitter"></use></svg></a>
          </div>   
    </div>
</section>
